*.npy
*.pth
*.pt
*.png
figs_A1_poly_feats_grids*/
*/__pycache__
/__pycache__/
/models/checkpoints
/results
/results_mle
/results_usvt
/results_vi
/sim_data*
/dataset
/legacy
/output
/output_C3
/output_C3_new_0807
/output_C3_new_0807_no2
/output_C3_new_0810_mle
/output_rebuttal_mle_C1C2
/preprocessed_data
/usvt_C2_v1
/usvt_C2_v2